torch>=2.4.0
torchvision>=0.17.0
dask>=2024.11.2
pandas>=2.2.0
xarray>=2024.11.0
numpy>=2.0.0
h5netcdf==1.6.4
microsoft-aurora

fastapi==0.119.1
uvicorn

ipython==8.31.0
ipykernel==6.29.5
httpx==0.28.1

cartopy==0.24.1
tqdm==4.67.1
dotenv==0.9.9

check_shapes==1.1.1

cdsapi==0.7.5
openmeteo_requests